/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

@import url('./fonts.css');

*{
    box-sizing: border-box;
    margin: 0;
}

body {
}

:root {
    --columns-count: 12;
    --columns-count-m: 6;
}

.header {
    background: url("../images/castelmezzano.png") center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 900px;
    margin: 0 auto;
}

.header-background {
    background-color: rgba(18, 18, 18, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section-header {
    padding: 51px 104px 120px 104px;
}

.triphouse{
    /*padding: 51px 104px 0 104px;*/
    max-width: 1232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.link-header-wrapper {
    display: flex;
    align-items: center;
}

.triphouse-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.nav-link {
    display: flex;
}

.triphouse-text p {
    position: relative;
}

.triphouse-text p:hover:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    right: 0;
    background: #F5BD41;
    height: 4px;
    width: 84%;
    display: block;
    margin: 0 auto;
}

.nav-link div {
    padding-right: 24px;
}

.nav-picture {
    display: flex;
    align-items: center;
}

.nav-picture div {
    padding-left: 24px;
}

.header-page {
    /*padding: 196px 104px 120px 104px;*/
    padding-top: 196px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
    max-width: 1232px;
    margin: 0 auto;
}

.header-search {
    margin: 145px 0 120px 0;
    background-color: #F3F3F4;
    display: flex;
    border-radius: 8px;
}

.header-city {
    margin-left: 14px;
}

.top-form {
    position: relative;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 112px;
    margin-top: 145px;
}

.city-field {
    position: relative;
    border: 3px solid #F3F3F4;
    height: 64px;
    border-radius: 8px;
    background: #FFFFFF;
}

.city-input {
    height: 100%;
    /*width: 467px;*/
    outline: none;
    border: none;
}
.calendar {
    color: #000000;
    border: 1px solid #F3F3F4;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 259px;
}

.adults {
    color: #000000;
    border: 1px solid #F3F3F4;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 314px;
}

.search-button {
    background-color: #3077C6;
    border-radius: 5px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    width: 192px;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    max-height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-items: center;
}

.header-apps {
    display: flex;
    justify-content: center;
}

.header-apps div {
    margin-left: 8px;
    margin-right: 8px;
}

.section1 {
    padding: 120px 104px;
    max-height: 570px;
}

.section {
    padding: 120px 104px;
}

.whatoffer {
    background-color: #FFFFFF;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.header-text:hover:after {
    position: absolute;
    content: "";
    bottom: -20px;
    background: #F5BD41;
    height: 4px;
    width: 100px;
    margin: 0 auto;
}

.header-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 112px;
}

.block {
    flex-basis:  296px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /*padding-left: 16px;*/
}

.whatoffer-icon:nth-child(1) {
    width: 75px;
    height: 92px;
    margin-bottom: 48px;
}

.whatoffer-icon:nth-child(2) {
    width: 83px;
    height: 83px;
    margin-bottom: 48px;
}

.whatoffer-icon:nth-child(3) {
    width: 100px;
    height: 67px;
    margin-bottom: 48px;
}

.whatoffer-icon:nth-child(4) {
    width: 92px;
    height: 83px;
    margin-bottom: 48px;
}

.block img {
    margin-bottom: 48px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.container {
    background-color: #EAF0F9;
    max-width: 1232px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}

.container-blocks {
    width: 25%;
}

.container-back {
    background-color: #EAF0F9;
    max-height: 828px;
    margin: 0 auto;
}

.homes {
    display: flex;
    justify-content: space-between;
    margin-top: 104px ;
}

.container-blocks .text {
    color: #3077C6;
    margin-top: 22px;
}

.container-blocks .text-grey {
    color: #BFBFBF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 24px;
}

.arrow {
    filter: drop-shadow(3px 3px 3px #383838);
    position: absolute;
    bottom: 256px;
    left: 1208px;
}

.destinations {
    max-width: 1232px;
    margin: 0 auto;
    box-sizing: content-box;
}

.destinations-header p {
    width: 388px;
    height: 45px;
    margin-top: 120px;
    margin-bottom: 104px;

}

.text-primary  {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.tabs {
    padding-top: 100px;
    padding-bottom: 64px;
    display: flex;
    max-width: 622px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.tabs.text {

}

.tabs-regions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3077C6;
    /*min-width: 192px;*/
    min-height: 64px;
    width: 30.87%;
    border-radius: 8px;
    color: #FFFFFF;
}

.tabs-cities {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F4;
    /*min-width: 192px;*/
    min-height: 64px;
    width: 30.87%;
    border-radius: 8px;
}

.tabs-places {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F4;
    /*min-width: 192px;*/
    min-height: 64px;
    width: 38.26%;
    border-radius: 8px;
}

.regions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.regions-block {
    width: 25%;
}

.regions-block p {
    color: #3077C6;
    margin-top: 18px;
    margin-bottom: 48px;
}

.regions-block:first-child {
    position: relative;
}

.regions-block:last-child {
    position: relative;
}

.regions-arrow {
    width: 50px;
    height: 40px;
    position: absolute;
    left: -344px;
}

.regions-button {
    width: 128px;
    height: 48px;
    position: absolute;
    top: 122px;
    left: 84px;
}

.maldives {
    position: relative;
}

.dark {
    background-color: rgba(38, 38, 38, 0.4);
    width: 295px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sign_up {
    max-width: 1232px;
    margin: 46px auto 0 auto;
    box-sizing: content-box;
    background-color: #EAF0F9;
    border: #000000 solid 1px;
    filter: drop-shadow(1px 1px 1px #383838);
    order: 0;
}

.sign_up-box {
    display: flex;
    max-width: 1232px;
    position: relative;
}

.sign_up-box-logo {
    width: 58px;
    height: 58px;
    background-color: #3077C6;
    fill: #FFFFFF;
    border-radius: 4px;
    /*display: flex;*/
    align-items: center;
    display: none;
}

.sign_up-box-logo svg {
    width: 53px;
    height: 11px;
    margin: 0 2px;
}

.sign_up-user {
    margin: 57px 0 0 24px;
    width: 86px;
    height: 86px;
}

.sign_up-box-desktop {
    margin: 48px 654px 44px 24px;
}

.sign_up-button {
    margin-top: 21px;
}

.sign_up-close {
    position: absolute;
    right: 22px;
    top: 22px;
    /*margin: 24px 24px 150px 599px;*/
}

.sign_up-install {
    color: #3077C6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: none;

}

.reviews {
    position: relative;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
    width: 100%;
    order: 1;
}

.reviews-section {
    /*width: 400px;*/
    width: 33.333333%;
    height: 760px;
    background-color: #EAF0F9;
    margin-top: 114px;
}

.reviews-image {;
    width: 400px;
    height: 400px;
}

.reviews-image .image {
    position: absolute;
    z-index: 1;
}

.reviews-image .back {
    position: relative;
    width: 400px;
    height: 48px;
    z-index: 2;
    top: 356px;
}

.reviews-image p {
    position: relative;
    top: 316px;
    left: 24px;
    z-index: 3;
}

.text-price {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.text-price1 {
    margin: 24px 0 0 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3077C6;
    font-weight: 500;
}

.reviews-score {
    display: flex;
    justify-content: space-between;
}

.reviews-score .text {
    font-size: 18px;
    color: #3077C6;
    margin: 16px 0 0 24px;
}

.score {
    margin-top: 24px;
    margin-right: 24px;
}

.person {
    display: flex;
}

.person svg {
    margin: 30px 16px 17px 30px;
    width: 54px;
    height: 54px;
}

.person-text1 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 31px 0 0 6px;
}

.person-text2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #BFBFBF;
    margin: 8px 0 0 6px;
}

.reviews-description {
    width: 352px;
    height: 105px;
    margin: 0 24px 0 24px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.reviews-nav {
    display: none;
}

.reviews-content {
    display: flex;
    justify-content: space-between;
}

.reviews-arrow {
    right: -10px;
    top: 339px;
    position: absolute;
    z-index: 3;

}

.footer {
    position: relative;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #10367C;
    padding: 120px 242px 0 104px;
}

.footer-logo {
    display: none;
}

.footer-navigation {
    display: flex;
    padding-bottom: 200px;
    max-width: 1064px;
    width: 100%;
    justify-content: flex-start;
    margin-left: 68px;
    position: relative;
}

.footer-navigation ul :first-child {
    font-weight: 500;
}

.about {
    width: 39%;
    position: relative;
}

.about ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 212px;
}

.property {
    width: 39%;
}

.property ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}

.support {
    width: 21.89%;
}

.support ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
    width: 282px;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    bottom: 118px;
    left: 40px;
}

.reviews-sign_up {
    display: flex;
    flex-direction: column;
}

/*.whatoffer-svg {*/
/*    background-size: 70px;*/
/*}*/

[class*="col-"] {
    width: 100%;
}


@media only screen and (max-width: 480px){
    .section1 {
        padding: 40px 73px;
        min-height: 658px;
        max-width: 360px;
        margin: 0 auto;
    }

    .whatoffer {
        padding: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        justify-content: center;
    }

    .header-text .text-primary {
        font-size: 28px;
    }

    .block {
        max-width: 214px;
        max-height: 104px;
        width: 100%;
        margin-bottom: 32px;
    }

    .block:nth-child(4) {
        margin-bottom: 20px;
    }

    .whatoffer-icon {
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .whatoffer-icon:nth-child(1) {
        margin-bottom: 10px;
    }

    .whatoffer-icon svg {
        height: 84%;
        width: 84%;
    }


    .block .text {
        font-size: 15px;
        width: max-content;
    }

    .block p {
         display: inline-block;
    }

    .container-back {
        max-width: 360px;
        max-height: 354px;
    }

    .container-back .section {
        padding: 40px 16px;
    }

    .homes {
        margin-top: 32px;
    }

    .container-blocks:nth-child(3) {
        display: none;
    }

    .container-blocks:nth-child(4) {
        display: none;
    }

    .container-blocks {
        width: 156px;
        height: 209px;
    }

    .container-blocks img {
        width: 156px;
        height: 155px;
    }

    .container-blocks .text {
        font-size: 12px;
        margin-top: 8px;
    }

    .container-blocks .text-grey {
        font-size: 12px;
        margin-top: 4px;
    }

    .container {
        max-height: 314px;
    }

    .arrow {
        left: 314px;
        top: 126px;
        height: 28px;
        width: 28px;
    }

    .dest .section {
        padding: 40px 16px;
        max-width: 360px;
        max-height: 380px;
        margin: 0 auto;
    }

    .tabs {
        padding: 32px 0 24px 0;
        justify-content: space-between;
        min-height: 32px;
        font-size: 19px;
    }

    .tabs-regions {
        min-height: 32px;
        width: 98px;
    }

    .tabs-cities {
        min-height: 32px;
        width: 98px;
    }

    .tabs-places {
        min-height: 32px;
        width: 98px;
    }

    .tabs-places-text {
        display: none;
    }

    .regions-block {
        width: 156px;
        height: 178px;
    }

    .regions-block:nth-child(3) {
        display: none;
    }

    .regions-block:nth-child(4) {
        display: none;
    }

    .maldives img {
        width: 156px;
        height: 156px;
    }

    .regions-button {
        display: none;
    }

    .dark {
        display: none;
    }

    .regions-block:nth-child(2) img {
        width: 156px;
        height: 156px;
    }

    .regions-block .text {
        font-size: 12px;
        margin: 8px 0 40px 0;
    }

    .sign_up {
        order: 1;
    }

    .reviews-sign_up {
        /*max-width: 360px;*/
    }

    .reviews {
        order: 0;
        padding: 0 0;
        max-width: 326px;
    }

    .reviews-sign_up .section {
        padding: 40px 16px;
        background-color: #EAF0F9;
    }

    .reviews-section {
        margin-top: 32px;
        height: auto;
    }

    .reviews-image {
        height: 326px;
        width: auto;
    }

    .reviews-image img:first-of-type {
        width: 326px;
        height: 326px;
    }

    .reviews-image img:last-of-type {
        display: none;
    }

    .reviews-image p {
        display: none;
    }

    .reviews-section:nth-child(2) {
        display: none;
    }

    .reviews-section:nth-child(3) {
        display: none;
    }

    .reviews-score {
        margin: 0 -2px 0 2px;
    }

    .reviews-score .text-price1 {
        margin: 10px 0 0 0;
        font-size: 15px;
    }

    .reviews-score .text {
        margin: 6px 0 0 0;
        font-size: 15px;
    }

    .score {
        margin: 10px -4px 0 0;
        width: 72px;
        height: 44px;
    }

    .person svg {
        height: 44px;
        width: 44px;
        margin: 10px 0 0 8px;
    }

    .person-text1 {
        font-size: 15px;
        margin: 14px 0 0 11px;
    }

    .person-text2 {
        font-size: 15px;
        margin: 0 0 0 12px;
    }

    .reviews-description {
        font-size: 15px;
        margin: 22px 30px 0 2px;
        width: 327px;
    }

    .reviews-nav {
        margin: 12px auto 0 auto;
        max-width: 56px;
        display: flex;
        justify-content: space-between;
    }

    .reviews-arrow {
        display: none;
    }

    .sign_up {
        margin: 0 auto;
        width: 360px;
        height: 106px;
        background-color: #FFFFFF;
    }

    .sign_up-user {
        display: none;
    }

    .sign_up-box .text {
        font-size: 12px;
    }

    .sign_up-button {
        display: none;
    }

    .sign_up-box-logo {
        display: flex;
        margin: 24px 0 0 50px;
    }

    .sign_up-box-desktop {
        margin: 39px 16px;
        width: 164px;
    }

    .sign_up-install {
        display: block;
        align-self: center;
    }

    .sign_up-close {
        left: 18px;
        top: 44px;
        width: 16px;
        height: 16px;
    }

    .footer {
        max-width: 360px;
        min-height: 203px;
        background-color: #10367C;
        padding: 0 0;
    }

    .footer-logo {
        padding: 38px 0;
        margin: 0 auto;
        display: flex;
    }

    .footer-logo-svg {
        fill: #FFFFFF;
        margin: 0 auto;
    }

    .footer-navigation {
        padding-bottom: 0;
        max-height: 18px;
        margin: 0 auto;
        display: flex;
        max-width: 225px;
        justify-content: space-between;
    }

    .footer-navigation ul :first-child {
        font-weight: 500;
        display: block;
        font-size: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    .footer-navigation ul {
        padding: 0 0;
    }

    .footer-navigation li {
        display: none;
    }

    .about {
        width: auto;
    }

    .property {
        width: auto;
    }


    .support {
        width: auto;
    }

    .support ul {
        width: auto;
    }

    .footer-copyright {
        font-size: 12px;
        position: absolute;
        left: 4px;
        top: 50px;

    }



}


@media only screen and (max-width: 768px){
    /*For tablets:*/
    .col-s-1 {width: calc(100% / var(--columns-count)*1);}
    .col-s-2 {width: calc(100% / var(--columns-count)*2);}
    .col-s-3 {width: calc(100% / var(--columns-count)*3);}
    .col-s-4 {width: calc(100% / var(--columns-count)*4);}
    .col-s-5 {width: calc(100% / var(--columns-count)*5);}
    .col-s-6 {width: calc(100% / var(--columns-count)*6);}
    .col-s-7 {width: calc(100% / var(--columns-count)*7);}
    .col-s-8 {width: calc(100% / var(--columns-count)*8);}
    .col-s-9 {width: calc(100% / var(--columns-count)*9);}
    .col-s-10 {width: calc(100% / var(--columns-count)*10);}
    .col-s-11 {width: calc(100% / var(--columns-count)*11);}
    .col-s-12 {width: calc(100% / var(--columns-count)*12);}


}

@media only screen and (max-width: 1024px){
    /*For desktop:*/
    .col-1 {width: calc(100% / var(--columns-count)*1);}
    .col-2 {width: calc(100% / var(--columns-count)*2);}
    .col-3 {width: calc(100% / var(--columns-count)*3);}
    .col-4 {width: calc(100% / var(--columns-count)*4);}
    .col-5 {width: calc(100% / var(--columns-count)*5);}
    .col-6 {width: calc(100% / var(--columns-count)*6);}
    .col-7 {width: calc(100% / var(--columns-count)*7);}
    .col-8 {width: calc(100% / var(--columns-count)*8);}
    .col-9 {width: calc(100% / var(--columns-count)*9);}
    .col-10 {width: calc(100% / var(--columns-count)*10);}
    .col-11 {width: calc(100% / var(--columns-count)*11);}
    .col-12 {width: calc(100% / var(--columns-count)*12);}

    .row {
        flex-wrap: wrap;
        /*justify-content: center;*/
        margin-top: 48px;
    }

    /*.whatoffer-icon:nth-child(1) {*/
    /*    margin-bottom: 14px;*/
    /*}*/

    /*.section1 {*/
    /*    max-height: 1000px;*/
    /*}*/

    /*.container-back {*/
    /*    max-height: 2040px;*/
    /*}*/

    /*.homes {*/
    /*    flex-wrap: wrap;*/
    /*    !*justify-content: center;*!*/
    /*    margin-top: 48px;*/
    /*}*/

    /*.container-blocks .text {*/
    /*    margin-top: 12px;*/
    /*}*/

    /*.container-blocks .text-grey {*/
    /*    margin: 12px 0;*/
    /*}*/
}
