@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body {
}

:root {
    --columns-count: 14;
    --columns-count-m: 6;
}

.header {
    /*background-image: url("../images/castelmezzano.png");*/
    background: url("../images/castelmezzano.png") center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
    max-height: 900px;
    max-width: 1440px;
    margin: 0 auto;
}

.header-background {
    background-color: rgba(18, 18, 18, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section-header {
    padding: 51px 104px 120px 104px;
}

.triphouse{
    /*padding: 51px 104px 0 104px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.triphouse-right {
    display: flex;
    align-items: center;
}

.triphouse-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.nav-link {
    display: flex;
}

.triphouse-text p {
    position: relative;
}

.triphouse-text p:hover:after {
    position: absolute;
    content: "";
    bottom: -12px;
    left: 0;
    right: 0;
    background: #F5BD41;
    height: 4px;
    width: 84%;
    display: block;
    margin: 0 auto;
}

.nav-link div {
    padding-right: 24px;
}

.nav-picture {
    display: flex;
    align-items: center;
}

.nav-picture div {
    padding-left: 24px;
}

.header-page {
    /*padding: 196px 104px 120px 104px;*/
    padding-top: 196px;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 500;
    color: #FFFFFF;
}

.header-search {
    margin: 145px 0 120px 0;
    background-color: #F3F3F4;
    display: flex;
    border-radius: 8px;
}

.header-city {
    margin-left: 14px;
}

.top-form {
    position: relative;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 112px;
    margin-top: 145px;
}

.city-field {
    position: relative;
    border: 3px solid #F3F3F4;
    height: 64px;
    border-radius: 8px;
    background: #FFFFFF;
}

.city-input {
    height: 100%;
    width: 467px;
    outline: none;
    border: none;
}
.calendar {
    color: #000000;
    border: 1px solid #F3F3F4;
    height: 100%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 259px;
}

.adults {
    color: #000000;
    border: 1px solid #F3F3F4;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 314px;
}

.search-button {
    background-color: #3077C6;
    border-radius: 5px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
    width: 192px;
    height: 100%;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    max-height: 64px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    align-items: center;
}

.header-apps {
    display: flex;
    justify-content: center;
}

.header-apps div {
    margin-left: 8px;
    margin-right: 8px;
}

.section1 {
    padding: 120px 104px;
}

.section {
    padding: 120px 104px;
}

.whatoffer {
    background-color: #FFFFFF;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;

}

hr {
    color: #F5BD41;
    height: 4px;
    background-color: #F5BD41;
    border: none;
    width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}


.header-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.block {
    flex-basis:  296px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    /*padding-left: 16px;*/
}

.block img {
    margin-bottom: 48px;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.container {
    background-color: #EAF0F9;
    max-width: 1232px;
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}

.container-back {
    background-color: #EAF0F9;
    max-width: 1440px;
    max-height: 828px;
    margin: 0 auto;
}

.homes {
    display: flex;
    justify-content: space-between;
    margin-top: 104px ;
}

.container-blocks .text {
    color: #3077C6;
    margin-top: 22px;
}

.container-blocks .text-grey {
    color: #BFBFBF;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-top: 24px;
}

.arrow {
    filter: drop-shadow(3px 3px 3px #383838);
    position: absolute;
    bottom: 256px;
    left: 1208px;
}

.destinations {
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.destinations-header p {
    width: 388px;
    height: 45px;
    margin-top: 120px;
    margin-bottom: 104px;

}

.text-primary  {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

.tabs {
    padding-top: 100px;
    padding-bottom: 64px;
    display: flex;
}

.regions {
    display: flex;
    justify-content: space-between;
}

.regions-block p {
    color: #3077C6;
    margin-top: 18px;
    margin-bottom: 48px;
}

.regions-block:first-child {
    position: relative;
}

.regions-block:last-child {
    position: relative;
}

.regions-arrow {
    width: 50px;
    height: 40px;
    position: absolute;
    left: -344px;
}

.regions-button {
    width: 128px;
    height: 48px;
    position: absolute;
    top: 122px;
    left: 84px;
}

.maldives {
    position: relative;
}

.dark {
    background-color: rgba(38, 38, 38, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.sign_up {
    max-width: 1232px;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: #EAF0F9;
    margin-top: 42px;
    border: #000000 solid 1px;
    filter: drop-shadow(1px 1px 1px #383838);

}

.sign_up-box {
    display: flex;
}

.sign_up-user {
    margin: 57px 0 0 24px;
    width: 86px;
    height: 86px;
}

.sign_up-box div {
    margin: 51px 0 0 24px;
}

.sign_up-button {
    margin-top: 21px;
}

.sign_up-close {
    width: 26px;
    height: 26px;
    margin: 24px 24px 150px 599px;
}

.reviews {
    position: relative;
    max-width: 1232px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.reviews-section {
    width: 400px;
    height: 760px;
    background-color: #EAF0F9;
    margin-top: 114px;
}

.reviews-image {;
    width: 400px;
    height: 400px;
}

.reviews-image .image {
    position: absolute;
    z-index: 1;
}

.reviews-image .back {
    position: relative;
    width: 400px;
    height: 48px;
    z-index: 2;
    top: 356px;
}

.reviews-image p {
    position: relative;
    top: 316px;
    left: 24px;
    z-index: 3;
}

.text-price {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.text-price1 {
    margin: 24px 0 0 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #3077C6;
    font-weight: 500;
}

.reviews-score {
    display: flex;
    justify-content: space-between;
}

.reviews-score .text {
    font-size: 18px;
    color: #3077C6;
    margin: 16px 0 0 24px;
}

.score {
    margin-top: 24px;
    margin-right: 24px;
}

.person {
    display: flex;
}

.person img {
    margin: 30px 16px 17px 30px;
}

.person-text1 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 31px 0 0 6px;
}

.person-text2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #BFBFBF;
    margin: 8px 0 0 6px;
}

.reviews-description {
    width: 352px;
    height: 105px;
    margin: 0 24px 0 24px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.reviews-content {
    display: flex;
    justify-content: space-between;
}

.reviews-arrow {
    right: -10px;
    top: 339px;
    position: absolute;
    z-index: 3;

}

.footer {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: content-box;
}

.footer-logo {
    display: none;
}

.footer-navigation {
    background-color: #10367C;
    display: flex;
    padding-bottom: 200px;
}

.footer-navigation ul :first-child {
    font-weight: 500;
}

.about {
    padding: 120px 0 0 64px;
}

.about ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 212px;
}

.property {
    padding: 120px 0 0 184px;
}

.property ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 310px;
}

.support {
    padding: 120px 0 0 242px;
}

.support ul{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
}

.footer-copyright {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    margin: 64px 0 0 104px;
    position: absolute;
    padding-bottom: 120px;
    bottom: 2px;
}

@media only screen and (max-width: 600px){
    .section1 {
        padding: 40px 73px;
        min-height: 641px;
        max-width: 360px;
        margin: 0 auto;
    }

    .whatoffer {
        /*min-height: 641px;*/
        /*max-width: 360px;*/
        padding: 0;
    }

    .row {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }

    .header-text .text-primary {
        font-size: 28px;
    }

    .whatoffer-line {
        display: none;
    }

    .block {
        max-width: 214px;
        max-height: 104px;
        width: 100%;
        margin-bottom: 32px;
    }

    .block:nth-child(4) {
        margin-bottom: 0;
    }

    .block img {
        height: 70px;
        width: 70px;
        margin-bottom: 16px;
    }


    .block .text {
        font-size: 15px;
    }

    .block p {
         display: inline-block;
    }

    .container-back {
        max-width: 360px;
        max-height: 354px;
    }

    .container-back .section {
        padding: 40px 16px;
    }

    .homes {
        margin-top: 32px;
    }

    .container-blocks:nth-child(3) {
        display: none;
    }

    .container-blocks:nth-child(4) {
        display: none;
    }

    .container-blocks {
        width: 156px;
        height: 209px;
    }

    .container-blocks img {
        width: 156px;
        height: 155px;
    }

    .container-blocks .text {
        font-size: 12px;
        margin-top: 8px;
    }

    .container-blocks .text-grey {
        font-size: 12px;
        margin-top: 4px;
    }

    .container {
        max-height: 314px;
    }

    .arrow {
        left: 314px;
        top: 126px;
        height: 28px;
        width: 28px;
    }

    .dest .section {
        padding: 40px 16px;
        max-width: 360px;
        max-height: 354px;
        margin: 0 auto;
    }

    .tabs {
        padding-top: 32px;
        justify-content: space-between;
    }

    .tabs img {
        max-width: 98px;
        max-height: 32px;
    }

    .footer {
        max-width: 360px;
        min-height: 203px;
        background-color: #10367C;
        padding: 0 0;
    }

    .footer-logo {
        color: #FFFFFF;
        display: block;
        padding: 40px 131px;
    }

    .footer-navigation {
        padding-bottom: 0;
        max-height: 18px;
        margin: 0 auto;
    }

    .footer-navigation ul :first-child {
        font-weight: 500;
        display: block;
        font-size: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }

    .footer-navigation li {
        display: none;
    }

    .about {
        padding: 0  0;
    }

    .property {
        padding: 0 0;
    }


    .support {
        padding: 0 0;
    }

    .footer-copyright {
        margin: 0;
        padding: 32px 70px 0 70px;
        font-size: 12px;
        position: static;
    }



}

@media only screen and (max-width: 768px){
    /*For tablets:*/
    /*.col-1 {width: calc(100% / var(--columns-count)*1);}*/
    /*.col-2 {width: calc(100% / var(--columns-count)*2);}*/
    /*.col-3 {width: calc(100% / var(--columns-count)*3);}*/
    /*.col-4 {width: calc(100% / var(--columns-count)*4);}*/
    /*.col-5 {width: calc(100% / var(--columns-count)*5);}*/
    /*.col-6 {width: calc(100% / var(--columns-count)*6);}*/
    /*.col-7 {width: calc(100% / var(--columns-count)*7);}*/
    /*.col-8 {width: calc(100% / var(--columns-count)*8);}*/
    /*.col-9 {width: calc(100% / var(--columns-count)*9);}*/
    /*.col-10 {width: calc(100% / var(--columns-count)*10);}*/
    /*.col-11 {width: calc(100% / var(--columns-count)*11);}*/
    /*.col-12 {width: calc(100% / var(--columns-count)*12);}*/
}
